@import 'main.css';


/******************************banner*****************************/

/* <div class="cropped-image"></div>

.cropped-image {
    width: var(--image-size);
    height: var(--image-size);
  
    background-image: url(https://ucarecdn.com/8db1b0fe-3753-4602-953c-2263b9c0b4a5/-/preview/1200x800/);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  
    border-radius: 25% 75% / 50%;
    cursor: help;
  } */

.banner_Oxo {
    height: calc(100vh -52.8px);
    width: 100%;
    height: 95vh;
    background: url('../images/Oxo/Oxo_application_mobile_étiré.jpg');
    background-size: cover;
    background-position: center;
    /* background-position-x: -300px; */
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.banner-title_Oxo {
    margin-right: 10%;
    max-width: 50%;
    padding: 2em;
    background: rgba(255, 255, 255, 0.5);
    border-radius: var(--border-radius);
    backdrop-filter: blur(3px);
    border: 1px solid rgba(255, 255, 255, 0.6)
}


@media (max-width: 768px) {
    .banner_Oxo {
        justify-content: center;
    }

    .banner-title_Oxo {
        max-width: 90%;
        margin: auto;
        text-align: center;
    }
}

/*********************CAROUSEL********************/
* {
    box-sizing: border-box
}

.video-container {
    width: 30%;
    margin-right: auto;
}

.video-container video {
    object-fit: cover;
    /* so the video covers all the available space */
    object-position: center;
    /* not required */
    border-radius: 16px;
}

.presentation-header {
    margin: 6rem 0 3rem 0;
}

.competences {
    margin: 3rem 0 3rem 0;
}

.competences-header {
    padding-top: 2rem;
    text-align: center;
}

/******************PRESENTATION*******************/
.presentation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* align-items: center;
    margin-top: 2em; */
    margin-bottom: 3em;
}

.presentation em {
    display: inline-block;
    margin-bottom: 0.5em;
    font-size: 24px;

}

.presentation-description .title {
    margin: 0.5em 0em 0.5em 0em;
}

.presentation-description {
    width: 50%;
    text-align: justify;
    margin-left: 3rem;
}

.presentation-header2 .title {
    text-align: end;
}


@media (max-width: 1024px) {

    .video-container {
        text-align: center;
        width: 100%;
        margin-bottom: 2rem;
    }

    .presentation-description {
        width: 100%;
        text-align: justify;
        margin-left: 0rem;
    }
}


/******************PRESENTATION*******************/

.badge {
    color: white;
    border-radius: var(--border-radius);
    align-items: center;
}


.badge i {
    font-size: 22px;
    margin-left: 0.8rem;
    font-weight: bold;
}

.badge .btn:first-child {
    margin-top: 2rem;
}

.badge .btn:last-child {
    margin-top: 1rem;
}

/*****************************************OUTILS*******************************************/
.outils {
    display: flex;
    margin: 2rem 0 2rem 0;

}

.outils-icon {
    width: 3rem;
    margin: 1rem;
}


.outils-content {
    max-width: 55%;
    margin-left: 2rem;
}


@media (max-width: 768px) {

    .outils {
        display: flex;
        flex-direction: column;
        /* margin: 2rem 0 2rem 0; */
    }

    .outils-content {
        max-width: 100%;
        margin-left: 0rem;
    }
}

/*****************************************TABS*******************************************/
.tabs {
    max-width: 40%;
    font-family: 'Karla', sans-serif;
    font-size: 20px;
}

.tabs .tab-registers {
    display: flex;
    background-color: RGB(255, 255, 255);
}

.tabs button {
    /* padding: 0.5em; */
    background-color: RGB(255, 255, 255);
    border: none;
    font: inherit;
    border-radius: 10px 10px 0 0;
}

/* .tabs .tab-registers button:hover {
    cursor: pointer;
} */

.tabs .tab-bodies {
    width: 600px;
    padding: 0.5em;
    flex-grow: 1;
    overflow-y: auto;
    border-radius: 0 10px 10px 10px;
}

@media (max-width: 768px) {
    .tabs {
        max-width: 100%;
    }

    .tabs .tab-bodies {
        width: 280px;
    }
}